.video-card{
    width: 18rem;
}

.avatar{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
    border:1px solid #27ae60;
}

.video-details{
    display: flex;
    justify-content: space-around;
}

.video-details .video-info{
    margin-left: 10px;
}

.video-thumbnail{
    position: relative;
    width: 17rem;
}

.video-thumbnail-img{
    width: 100%;
}
.watchlater-icon{
    position: absolute;
    top: 0;
    left: 82.5%;
    background-color: white;
    color: #4299e1;
    width: 3rem;
    height: 2rem;
    border-bottom-left-radius: 10px;
}