.detailsCard-info{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 1rem 0;
}

.details-icon .icon{
    width: 2.5rem;
    height: 1.5rem;
    margin: 0.5rem 0;
}

.info-heading{
    display: flex;
}

.info-heading .title-info{
    margin: 1rem;
}

.each-note{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 20px;
}

.each-note .icon{
    margin-left: 1rem;
}